.git
.gitattributes
.gitignore
.github
.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/**/.gitignore

docker-compose*.yml

tests
.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.nova
.zed
.DS_Store

docs/ux/mockups
*.md
